
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-seriff;
}

body{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFz302MDb1F7xe7AVVe_mBg1YJCSPeoalVUg&usqp=CAU");
	background-size: cover;
	background-repeat: no-repeat;
	width:100%;
	height: 100vh;
}

.button{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px 0px 15px;
	padding: 50px 0px 50px;
}

 

.page{
	padding: 400px 0px 50px;
	text-align: center;
	height: 50vh;
}

#awesome{
	font-weight: bolder;
	font-size: 30px;
	color: white;
	margin: 0px 5px;
}

 
 #para{
 	font-size: 20px;
 	color: white;
 	font-weight: 3000;
 	margin: 20px 20px 20px;
 }

 .time{
 	font-weight: bolder;
 }
 .timer{
 	font-size: 7px;
 }

 .form{
    padding-top: 200px;
 	margin: auto;
 	width: 70%;
 }
 
 
